<h1>Iniciar Sesión</h1>

<form method="post">
    <label>Correo</label>
    <input type="email" id="correo" name="Correo" required /><br /><br />

    <label>Contraseña</label>
    <input type="password" id="contrasenia" name="Contrasenia" required /><br /><br />  

    <input type="submit" value="Iniciar sesión" /><br /><br />

    @if (ViewBag.Mensaje != null)
    {
        <p>@ViewBag.Mensaje</p>
    }

    <br /><p>¿Aún no tenes una cuenta? Haz click en <a href="/Registro/Index">Registrarse</a></p>
</form>
