<h1>Iniciar sesión</h1>

<form method="post">
    <label class ="form-label mt-3">Correo</labelclass>
    <input class="form-control"  type="email" id="correo" name="Correo" />

    <label class="form-label mt-3">Contraseña</label>
    <input class="form-control" type="password" id="contrasenia" name="Contrasenia" /><br /><br />

    <input class="btn btn-primary"  type="submit" value="Iniciar sesión" /><br /><br />

    @if (ViewBag.Mensaje != null)
    {
        <p>@ViewBag.Mensaje</p>
    }

    <br /><p>¿Aún no tenes una cuenta? <a href="/Registro/Index">Regístrate</a></p>
</form>
