@using Dominio
@using Dominio.Entidades_abstractas
@using Dominio.Entidades_no_abst
@model Ocasional

<h1>Editar elegibilidad del cliente</h1>

<form method="post">
    <p>Nombre cliente: @Model.Nombre</p>
    <p>Elegibilidad actual: @Model.EsElegible</p>
    <label>Editar:</label>
    <input type="hidden" name="correo" value="@Model.Correo" />
    <select class="form-select w-25"  name="elegibilidad">
        <option value="-1">Seleccione una opción</option>
        <option value="Elegible">Elegible</option>
        <option value="No elegible">No Elegible</option>
    </select><br /><br />
    <input class="btn btn-primary"  type="submit" value="Actualizar elegibilidad" />
</form><br />
@if (ViewBag.Mensaje != null)
{
    <p>@ViewBag.Mensaje</p>
}
<br /><a href="/Administrador/ListaClientes">Volver</a>

