@using Dominio
@using Dominio.Entidades_abstractas
@using Dominio.Entidades_no_abst
@model Dominio.Entidades_no_abst.Ocasional

<h1>Formulario de registro</h1>

<form method="post"> 
    <label class="form-label mt-3">Nombre:</label><br />
    <input class="form-control w-50" type="text" id="nombre" name="Nombre" /><br />

    <label class="form-label mt-3">Cédula de identidad:</label><br />
    <input class="form-control w-50" type="text" id="documento" name="Documento" /><br />

    <label class="form-label mt-3">Email:</label><br />
    <input class="form-control w-50" type="email" id="correo" name="Correo" /><br />

    <label class="form-label mt-3">Nacionalidad:</label><br />
    <input class="form-control w-50" type="text" id="nacionalidad" name="Nacionalidad" /><br />

    <label class="form-label mt-3">Contraseña</label><br />
    <input class="form-control w-50" type="password" id="contrasenia" name="Contrasenia" /><br /><br />

    <input class="btn btn-primary" type="submit" value="Registrarse" /><br /><br />

    @if (ViewBag.Mensaje != null)
    {
        <p>@ViewBag.Mensaje</p>
    }

    <br /><p>¿Ya tenes una cuenta? Iniciá sesión <a href="/Login/Index">aquí</a></p> 
</form>